body {
	padding: 0;
	margin: 0;
}

img {
	display: block;
}

header {
	padding-top: 30px;
	padding-bottom: 30px;
	background-image: linear-gradient(to right, grey, white, grey);
}

header .container-md .hero-title {
	width: 300px;
	padding: 10px;
	padding-bottom: 40px;
	margin: 0 auto;
}

header .container-md .hero-title span {
	color: crimson;
}

header .container-md .hero-img {
	width: 300px;
	height: 300px;
	margin: 0 auto;
	padding: 10px;
	border-radius: 50%;
	background: url("../img/hero.png") 50% 50% no-repeat;
	background-size: 250%;
}

header .container-md .hero-quote {
	position: relative;
	width: 250px;
	padding: 10px;
	margin: 30px auto;
	font-size: 20px;
	text-align: left;
	border-radius: 10px;
	background-color: white;
}
